header {
    position: absolute;
    width: calc(100% - 10px);
    height: 40px;
    left: 0;
    top: 0;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 70%));
    font-display: fallback;
    font-family: bungee, Menlo, monospace;
    padding: 0px 5px;
    z-index: 1;
}

header>div#link-container {
    height: 40px;
    position: static;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.header-link {
    font-display: fallback;
    font-family: bungee, Menlo, monospace;
    color: hsl(0, 0%, 10%);
    text-decoration: none;
    text-transform: uppercase;
}

a.header-link:hover {
    background-color: #0002;
}

div#link-container a:first-of-type {
    position: relative;
    left: 10px;
    font-family: "Gill Sans", "Trebuchet MS", sans-serif;
    font-size: 18px;
    scale: 100% 150%;
    font-weight: bolder;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 10%) 0% 50%, hsl(0, 0%, 45%) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

div#link-container a:last-of-type {
    position: absolute;
    right: 10px;
    line-height: 40px;
}

footer {
    position: relative;
    top: 50px;
    color: hsl(0, 0%, 90%);
    padding: 5px;
    margin: 10px 0 0 0;
    background-color: hsl(210, 39%, 15%);
    height: 60px;
    overflow-y: hidden;
    display: grid;
    grid-template: 100% / 1fr 2fr;
}

div#quick-links {
    width: 100%;
    margin: 0;
    font-size: 12px;
}

a.footer-link {
    padding: 0 5px;
    font-family: Menlo, monospace;
    font-weight: bolder;
    font-synthesis: weight;
    color: hsl(120, 45%, 50%);
}

a.footer-link:hover {
    color: hsl(60, 45%, 50%);
}

a.footer-link:visited {
    color: hsl(30, 45%, 50%);
}

p#info {
    margin: 0;
    font-family: Menlo, monospace;
    font-size: 12px;
    text-align: right;
}

@media screen and (max-width: 1000px) {
    header {
        height: 40px;
        width: 100%;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
        padding: 0;
        width: 100%;
    }

    header div#link-container {
        height: 40px;
        width: 100%;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }

    header.collapsed div#link-container a:first-of-type {
        margin: 5px 0 20px 0;
        padding: 0;
    }

    header.expanded div#link-container a:first-of-type {
        margin: 5px 0 20px 0;
        padding: 0;
    }

    header div#link-container a:first-of-type::after {
        font-family: monospace;
        font-size: 1em;
        position: absolute;
        left: 50%;
        transform: translate(-50%) scaleX(1.5);
        color: black;
        bottom: -10px;
    }

    header.collapsed div#link-container a:first-of-type::after {
        content: "▾";
    }

    header.expanded div#link-container a:first-of-type::after {
        content: "▴";
    }

    div#link-container a:first-of-type,
    div#link-container a:last-of-type {
        position: initial;
        right: initial;
        line-height: initial;
    }

    img#main-logo,
    p#about {
        top: 30px;
    }

    header>div#link-container {
        cursor: pointer;
        flex-direction: column;
    }

    header.expanded {
        width: 100%;
    }

    header.expanded>div#link-container {
        width: 100%;
    }

    div#link-container a:first-of-type {
        font-size: 14px;
    }

    a.header-link {
        padding: 3px 0;
        width: 100%;
        text-align: center;
    }

    p#about {
        font-size: 16px;
    }
    
    section#sponsors {
        width: 100%;
        left: 0;
    }

    section#sponsors h2 {
        font-size: 1em;
    }

    p#info {
        display: none;
    }

    div#quick-links {
        grid-column: 1 / -1;
    }
}

@media (prefers-reduced-motion: reduce) {
    img#main-logo {
        animation: none;
    }

    header,
    header div#link-container {
        transition: none;
    }
}